@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    background: #000;
}
.Quiquia{    
    width: 25%;
    }
.Quiquiaa{
    width: 20%;
}
.quiquia2{
    bottom: 35% !important;
}
main {
    background-color: #000;
}
.container {margin-bottom: 1rem;margin-top: 1rem;}
.imgcard {
    width: 18rem;
    margin-left: 2rem;
}
.card.imgcard.birrarubia {
    background-image: url(birrarubia.jpg);
    width: 88%;
    height: 88%;
    background-position: 50% 50%;
    border-radius: 1rem;
}

.dimg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
}
span.carousel-control-next-icon-home {
    display: none;
}

span.carousel-control-prev-icon-home {
    display: none;
}

.carousel-indicators {
    display: none;
}
html {
    background: #000;
}
ul.navbar-nav.me-auto.mb-2.mb-md-0 {    
    display: contents;
}

div#navbarCollapse {
    justify-content: center;
}
a.navbar-brand {justify-content: center;text-align: center;display: inline-flex;margin-left: 22rem;position: fixed;max-width: 13%;}

nav.navbar.navbar-expand-md.navbar-light.navbar-transparent.fixed-top.bg-dark {
    padding: 1rem;
}
.img-container {
    position: relative;
}

.subtitle {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 22%;
    border-radius: 0rem 0rem var(--bs-card-border-radius) var(--bs-card-border-radius);
    width: 100%;
}
.sub1 {
    background-image: linear-gradient(180deg, rgb(0 0 0 / 48%) 0%, rgb(197 122 58 / 49%) 85%);
}
.sub2 {
    background-image: linear-gradient(180deg, rgb(0 0 0 / 48%) 0%, rgb(197 122 58 / 49%) 85%);
}
.sub3 {
    background-image: linear-gradient(180deg, rgb(0 0 0 / 48%) 0%, rgb(197 122 58 / 49%) 85%);
    /* margin-left: 29%; */
    /* margin-top: 5%; */
}
button.accordion-button.collapsed {
    background: transparent;
}
h2.accordion-header {
    background-color: transparent;
    background: transparent;
}

.accordion-item {
    background: transparent;
}
.accordion-button::after {
    
font-weight: 900; /* Asegura que la flecha sea visible */
    
float: right; /* Mueve la flecha hacia la derecha */
    
transition: transform 0.3s ease-in-out; /* Agrega una transición suave para la rotación */
    
color: #fff !important;
    
background-image: none;
    
text-align: center;
    
width: 0px !important;
    
display: none;
  }

::after {}
  .accordion-button[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  h2.accordion-header {
    font-weight: bolder;
    color: #fff;
    text-align: center;
    justify-content: center;
}

button.accordion-button.text-center.text-ligth.collapsed {
    color: #fff;
    text-align: center !important;
    justify-content: center;
    /* padding: 0; */
}

::after {
    color: #fff;
}

button.accordion-button.text-center.text-ligth {
    background: transparent;
    color: #fff;
    text-align: center;
    justify-content: center;
}
button.accordion-button {
    font-size: 1.5rem;
    font-weight: 700;
}

.accordion-body {
    color: #fff;
}
img.card-img-top.mx-auto.d-block.lup3 {
    width: 2.5em;
}

h1.graduacion {
    text-align: end;
    font-size: 2.2rem;
    font-weight: 800;
}
i.bi.bi-plus-circle.text-center {
    font-size: 2rem;
}
h1.graduacion.dos-a {
    text-align: center !important;
}
.mt-6 {margin-top:6rem !important}

.quiquia3{
    bottom: 25% !important;
}
/* catalogo*/
.card-body.catalogo {
    background-color: #f2d3af;    
    height: 9rem;
}

i.bi {
    color: #fff;
    font-size: 1.5rem;
}

a.link-light.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover {
    font-size: 1.5rem;
}

.lato {
    font-family: 'Lato', sans-serif;
}
.l_b700 {
    font-weight: 700;
}

.l_b900 {
    font-weight: 900;
}

.catalogos {
    transition: transform 0.3s;
}

.catalogos:hover {
    transform: scale(1.1);
}

.card-img-top-c{
    height: 25rem;
}
.border1 {
    border-radius: 2rem !important;
}

.border3 {
    border-radius: 0 0 2rem 2rem !important;
}

.border2 {
    border-radius: 2rem 2rem 0 0;
}
.footer {
    background: #ffffff05;
    color: #fff;
    padding: 2rem;
}

.transp {background: #0006;}
img.img-nos {
    border-radius: 50%;    
    margin-top: 4rem;
}
img.img-nos1 {
    border-radius: 50%;
    width: 100%;
}
h1.text-center.titlle1 {
    font-size: 3.5rem;
    font-family: 'Lato';
    font-weight: bold;
}

.dimg3 {
    width: 100%;
    height: 120%;
    position: absolute;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, #000000 100%);
}

html.img_bg_img {
    background: none !important;
    background-image: url(quiquia2.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

body.img_bg {
    background: transparent !important;
}

main.mt-6.img_bg {
    background: transparent !important;
}
/*Media*/
@media (max-width: 767px) {
    .col-4-home{
        width: 100% !important;

    }
    .card.imgcard {
        width: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }
    img.Quiquia {
        width: 80%;
    }
    .carousel-caption.d-none.d-md-block.quiquia2 {
        display: block !important;
        top: 5rem;
    }

    /* catalogo*/
    .catalogos {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
    .card-body.catalogo {
        background-color: #f2d3af;    
        height: 12rem;
    }
    /**/
    .col-sm-11{
        width:91.66666667%            
    }
    .col-sm-1{
        width:8.33333333%
    }
    
}